<div id="popup" class="popup-container">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>CREATION DE VOTRE USER</h2>
		<p>USER :<%= oneUser.user %> OK</p>
		<p>email :<%= oneUser.email %> OK</p>
		<p>pwd :<%= oneUser.pwd %> OK</p>
	</div>
</div>
