<div id="popup" class="popup-container">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>CREATION DE VOTRE DATABASE</h2>
		<p>DataBase :<%= db %> OK</p>
		<p>Collection :<%= collec %> OK</p>
	</div>
</div>
