<div id="chatTog" class="open"></div>
<div id="chatBubble" class="open">
	<div id="chatBtn">Chat <span id="cross">⨲ </span></div>
	<div id="chatContent">
		<!-- Contenu du chat -->
		<p>Message contextuel 1</p>
		<p>Message contextuel 2</p>
		<!-- Ajoutez d'autres messages ici -->
	</div>
</div>
