<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Formulaire MongoDB</title>
		<!-- Chargement de Bootstrap depuis un CDN -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/popup.css" />
		<link rel="stylesheet" href="css/chat.css" />
		<script>
			let db = '000';
			let collec = '000';
		</script>
	</head>
	<body>
		<%- include('nav.ejs') %>
		<div class="container mt-5">
			<main class="bg-black">
				<div class="container mt-5">
					<h1>Formulaire MongoDB</h1>
					<h2>Création d'une DATABASE et ou d'une COLLECTION</h2>
					<br />
					<form action="/subdb" method="post">
						<div class="mb-3">
							<label for="db" class="form-label"
								>Nom de la base de données</label
							>
							<input
								type="text"
								class="form-control"
								id="db"
								name="db"
								placeholder="Entrez le nom de la base de données"
							/>
						</div>
						<div class="mb-3">
							<label for="collec" class="form-label"
								>Nom de la collection</label
							>
							<input
								type="text"
								class="form-control"
								id="collec"
								name="collec"
								placeholder="Entrez le nom de la collection"
							/>
						</div>

						<button
							type="submit"
							class="btn btn-primary"
							id="submit"
						>
							Créer
						</button>
					</form>
				</div>
			</main>
		</div>

		<%- include('chat.ejs') %>
		<div id="popup" class="popup-container">
			<div class="popup-content">
				<h2>
					CREATION DE VOTRE DATABASE
					<span id="close">&times;</span>
				</h2>
				<p>DataBase :<%= db %> OK</p>
				<p>Collection :<%= collec %> OK</p>
			</div>
		</div>

		<!-- Chargement de JavaScript depuis un CDN -->

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script defer src="js/modaleDB.js"></script>
	</body>
</html>
