<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Formulaire MongoDB</title>
		<!-- Chargement de Bootstrap depuis un CDN -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/popup.css" />
		<script>
			let oneUser = null;
		</script>
	</head>
	<body>
		<%- include('nav.ejs') %>
		<div class="container mt-5">
			<main class="bg-black">
				<div class="container mt-5">
					<h1>Formulaire MongoDB</h1>
					<h2>Création d'un USER</h2>
					<br />
					<form
						action="/create-user"
						method="post"
						id="formUcreate"
					>
						<div class="mb-3">
							<label for="user" class="form-label"
								>Choix de votre pseudo :
							</label>
							<input
								autocomplete="on"
								type="text"
								class="form-control"
								id="user"
								name="user"
								placeholder="Entrez votre pseudo"
							/>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label"
								>Adresse e-mail</label
							>
							<input
								autocomplete="on"
								type="text"
								class="form-control"
								id="email"
								name="email"
								placeholder="Entrez votre adresse e-mail"
							/>
						</div>

						<div class="mb-3">
							<label for="pwd" class="form-label"
								>Mot de passe</label
							>
							<input
								autocomplete="on"
								type="password"
								class="form-control"
								id="pwd"
								name="pwd"
								placeholder="Entrez votre mot de passe"
							/>
						</div>
						<div class="mb-3">
							<label for="role" class="form-label"
								>Type de membre</label
							>
							<select
								class="form-select"
								id="role"
								name="role"
							>
								<option value="normal">Normal</option>
								<option value="premium">Premium</option>
								<option value="admin">
									Administrateur
								</option>
							</select>
						</div>
						<button
							type="submit"
							class="btn btn-primary"
							id="submit"
						>
							Créer
						</button>
					</form>
				</div>
			</main>
		</div>

		<div id="popup" class="pop-container">
			<div class="pop-content">
				<h2>CREATION DE VOTRE USER <span id="close">🇻🇨</span></h2>
				<p id="user">USER :<%= oneUser.user %> OK</p>
				<p id="email">email :<%= oneUser.email %> OK</p>
				<p id="pwd">pwd :<%= oneUser.pwd %> OK</p>
			</div>
		</div>

		<!-- Chargement de JavaScript depuis un CDN -->

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script src="js/modaleUSER.js"></script>
	</body>
</html>
