<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Page d'accueil</title>
		<!-- Inclusion de Bootstrap CSS -->
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- Styles personnalisés -->
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<%- include('nav.ejs') %>

		<!-- Contenu principal -->
		<div class="container mt-5">
			<h1>
				ERREUR lors de la lecture de votre IP publique.tre IP
				publique est :
			</h1>
			<h2><%= ip %></h2>
		</div>

		<!-- Inclusion de Bootstrap JS et jQuery -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
