<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>CREATION USER</title>
		<link rel="stylesheet" href="css/popup.css" />
	</head>
	<body>
		<!-- <button onclick="openPopup()">Open Popup</button> -->

		<div id="popup" class="popup-container">
			<div class="popup-content">
				<span class="close" onclick="closePopup()">&times;</span>
				<h2>TOUS LE CHAMPS SONT REQUIS</h2>
				<p>USER :<%= oneUser.user %> OK</p>
				<p>email :<%= oneUser.email %> OK</p>
				<p>email :<%= oneUser.pwd %> OK</p>
			</div>
		</div>

		<script src="js/popup.js"></script>
		<script></script>
	</body>
</html>
