<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Page d'accueil</title>
		<!-- Inclusion de Bootstrap CSS -->
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- Styles personnalisés -->
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/chat.css" />
		<link rel="stylesheet" href="css/bar.css" />
	</head>
	<body>
		<%- include('nav.ejs') %>

		<!-- Contenu principal -->
		<div class="container mt-5">
			<h1>Bienvenue sur notre site!</h1>
			<p>Nous sommes là pour vous fournir les meilleurs services.</p>
		</div>
		<%- include('chat.ejs') %>
		<br />
		<%- include('band.ejs') %>

		<!-- Inclusion de Bootstrap JS et jQuery -->

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script src="js/chat.js"></script>
		<script src="js/band_error.js"></script>
	</body>
</html>
