<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/">🏚️</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="collapse navbar-collapse justify-content-end"
			id="navbarNav"
		>
			<ul class="navbar-nav">
				<!-- <li class="nav-item active">
					<a class="nav-link" href="#"
						>Accueil <span class="sr-only">(current)</span></a
					> Cours célèbre
				</li> -->
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown1"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Javascript
					</a>
					<div
						class="dropdown-menu"
						aria-labelledby="navbarDropdown1"
					>
						<a class="dropdown-item" href="publicip"
							>Public IP</a
						>
						<a class="dropdown-item" href="#">Sous-menu 2</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Sous-menu 3</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown2"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						MongoDB
					</a>
					<div
						class="dropdown-menu"
						aria-labelledby="navbarDropdown2"
					>
						<a class="dropdown-item" href="subdb"
							>Création DB et Collection</a
						>
						<a class="dropdown-item" href="create-user"
							>Create USER</a
						>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Sous-menu 3</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown3"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						Menu 3
					</a>
					<div
						class="dropdown-menu"
						aria-labelledby="navbarDropdown3"
					>
						<a class="dropdown-item" href="#">Sous-menu 1</a>
						<a class="dropdown-item" href="#">Sous-menu 2</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Sous-menu 3</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Menu 4</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Menu 5</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
