<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Formulaire MongoDB</title>
		<!-- Chargement de Bootstrap depuis un CDN -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<main class="bg-black">
			<div class="container mt-5">
				<h1>Formulaire MongoDB</h1>
				<h2>Création d'une DATABASE et ou d'une COLLECTION</h2>
				<br />
				<form action="/subdb" method="post">
					<div class="mb-3">
						<label for="user" class="form-label"
							>pseudo</label
						>
						<input
							type="text"
							class="form-control"
							id="db"
							name="user"
							placeholder="Entrez le nom de la base de données"
						/>
					</div>
					<div class="mb-3">
						<label for="autre" class="form-label"
							>autre donnée :</label
						>
						<input
							type="text"
							class="form-control"
							id="autre"
							name="autre"
							placeholder="Entrez la valeur recherchée : "
						/>
					</div>

					<button type="submit" class="btn btn-primary">
						Envoyer
					</button>
				</form>
			</div>
		</main>

		<!-- Chargement de JavaScript depuis un CDN -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script src="js/popup.js"></script>
	</body>
</html>
