#bar {
	background-color: #f44336;
	color: white;
	padding: 10px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000; /* Assure que le bandeau est au-dessus de tout le contenu */
	display: none; /* Démarre caché */
}
