body {
	background-color: #343a40; /* Couleur de fond sombre */
	color: #fff; /* Couleur du texte */
	height: 100vh; /* Hauteur de la page */@
}

.navbar {
	background-color: #343a40; /* Couleur de fond sombre pour la barre de navigation */
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff; /* Couleur du texte des liens */
}

html {
	background-color: #000000;
}
main {
	padding: 1rem;
	color: antiquewhite;
}
h2 {
	color: yellowgreen;
}
