.pop-container {
	display: none;
	position: fixed;
	top: 50;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.pop-content {
	position: absolute;
	top: 5%;
	right: 5%;
	/* transform: translate(-50%, -50%); */
	background-color: rgb(32, 32, 32);
	color: aliceblue;
	padding: 20px;
	border-radius: 5px;
}

.pop-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
