<div id="popup" class="popup-container">
	<div class="popup-content">
		<span class="close" onclick="closePopup()">&times;</span>
		<h2>Hello, I'm a Popup!</h2>
		<p>DataBase :<%= db %> OK</p>
		<p>Collection :<%= collec %> OK</p>
	</div>
</div>

<script src="js/popup.js"></script>
