<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Popup Example</title>
		<link rel="stylesheet" href="css/popup.css" />
	</head>
	<body>
		<div id="popup" class="pop-container">
			<div class="pop-content">
				<h2>POP POP <span id="close">🇻🇨</span></h2>
				<p id="user">USER :<%= oneUser.user %> OK</p>
				<p id="email">email :<%= oneUser.email %> OK</p>
				<p id="pwd">pwd :<%= oneUser.pwd %> OK</p>
			</div>
		</div>
		<script defer src="js/popup.js"></script>
	</body>
</html>
